.sidebar {
  padding: 20px;
  
  color: #fff;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar li:hover {
  color: #ff9f43;
}
